body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    width: auto;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    overflow-x: hidden;
  
}

.fundo {
    background-image: url('./img/trigo.png');
    background-size:  100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #555;
}

h1 {
    color: #ff6600;
}

.bio-section {
    line-height: 1.6;
    text-align: justify;
    padding: 65px 20px;
    border-radius: 8px;
}

.bio-section p {
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s;
}
